<div class="d-flex flex-nowrap gap-3 p-4">
  <div class="a-list" *ngFor="let list of lists; let index=index;">
    <div class="a-list--header text-uppercase py-2" [style]="'border-color: ' + list.headerBorderColor">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex gap-2">
          <p class="m-0 fw-bold">
            {{ list.title }}
          </p>
          <mat-chip class="small px-2 fw-light rounded-4">{{ list.tasks.length }}</mat-chip>
        </div>
        <i class="bi bi-three-dots text-muted"></i>
      </div>
    </div>
    <div class="a-list--body" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="list.tasks">
      <div *ngFor="let task of list.tasks" class="card my-2" cdkDrag>
        <div class="card-body">
          <p class="fw-bold m-0">{{ task.title }}</p>
          <p class="my-2 text-muted small" *ngIf="task.description">{{ task.description?.slice(0, 75) }}...</p>

          <div class="d-flex justify-content-between">
            <mat-chip-list *ngIf="task.labels">
              <mat-chip class="small fw-light rounded-4 px-2 py-0"
               *ngFor="let label of task.labels"
               [style]="'color: ' + label.textColor + '; background-color: '+ label.color"
               >
               {{ label.title }}
              </mat-chip>
            </mat-chip-list>

            <div class="d-flex" *ngIf="task.subscribers">
              <div *ngFor="let subscriber of task.subscribers"
              class="user-circle"
               [class]="'user-' + subscriber"></div>
            </div>
          </div>

          <hr class="my-3">

          <div class="d-flex gap-3">
            <p class="m-0 small fw-light">
              2
              <i class="bi bi-chat-left ms-1"></i>
            </p>

            <p class="m-0 small fw-light">
              3
              <i class="bi bi-paperclip"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>